<div class="merch">
	<a href="./merch-single.html" class="merch__item">
		<span class="merch__pic">
			<img src="static/img/content/t-01.jpg" alt="t-shirt" class="merch__img">
		</span>
		<span class="merch__content">
			<span class="merch__top">
				<span class="merch__title">Adam's T-Shirt</span>
				<span class="merch__price  price">&#36;19</span>
			</span>
			<span class="merch__desc">Lorem ipsum.</span>
		</span>
	</a>

	<a href="./merch-single.html" class="merch__item">
		<span class="merch__pic">
			<img src="static/img/content/t-02.jpg" alt="t-shirt" class="merch__img">
		</span>
		<span class="merch__content">
			<span class="merch__top">
				<span class="merch__title">Adam's T-Shirt</span>
				<span class="merch__price  price">&#36;9</span>
			</span>
			<span class="merch__desc">Sizes M, L, XL, XXL</span>
		</span>
	</a>

	<a href="./merch-single.html" class="merch__item ">
		<span class="merch__pic">
			<span class="merch-discount">discount</span>
			<img src="static/img/content/t-01.jpg" alt="t-shirt" class="merch__img">
		</span>
		<span class="merch__content">
			<span class="merch__top">
				<span class="merch__title">Adam's T-Shirt</span>
				<span class="merch__price  price">&#36;9</span>
			</span>
			<span class="merch__desc">Lorem ipsum.</span>
		</span>
	</a>

	<a href="./merch-single.html" class="merch__item ">
		<span class="merch__pic">
			<img src="static/img/content/t-02.jpg" alt="t-shirt" class="merch__img">
		</span>
		<span class="merch__content">
			<span class="merch__top">
				<span class="merch__title">Adam's T-Shirt</span>
				<span class="merch__price  price">&#36;9</span>
			</span>
			<span class="merch__desc">Sizes M, L, XL, XXL</span>
		</span>
	</a>

</div>
