<div class="arrow-slider">
	<div class="arrow-slider__item">
		<img class="arrow-slider__img" src="static/img/content/pic-11.jpg" alt="image">
	</div>
	<div class="arrow-slider__item">
		<img class="arrow-slider__img" src="static/img/content/pic-08.jpg" alt="image">
	</div>
	<div class="arrow-slider__item">
		<img class="arrow-slider__img" src="static/img/content/pic-01.jpg" alt="image">
	</div>
</div>
<div class="arrow-slider__nav section__nav">
	<button class="section__nav_button section__nav_prev">
		<img src="static/img/general/arrow.svg" alt="prev" class="section__nav_img">
	</button>
	<button class="section__nav_button section__nav_next">
		<img src="static/img/general/arrow.svg" alt="next" class="section__nav_img">
	</button>
</div>
