<div class="layuot">
	<section class="section">
		<h1 class="seection__title">title</h1>
		<button class="btn js-close" data-close="close ppp" >close</button>
	</section>
	<div class="close">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aspernatur quis ad ipsam, consequuntur exercitationem sint accusantium debitis, perspiciatis ratione!</div>

	<div class="ppp">
		<hr>
		<hr>
			<div class="ppp-wrap is-active">(ppp-wrap )*30</div>
	<div class="ppp-wrap is-active">(ppp-wrap )*30</div>
	<div class="ppp-wrap is-active pop">(ppp-wrap )*30 pop </div>
	<div class="ppp-wrap is-active">(ppp-wrap )*30</div>
	<div class="ppp-wrap is-active">(ppp-wrap )*30</div>
	<div class="ppp-wrap">(ppp-wrap )*30</div>
	<div class="ppp-wrap">(ppp-wrap )*30</div>
	</div>


	<button class="js-ppp" data-ppp="pop">js-ppp</button>
</div>