<footer class="page__footer">
	<div class="page__layout">
		<div class="footer__content">
			<div class="footer__col">
				<a href="/" class="footer__logo" tabindex="0">
					<img  class="footer__logo_pic" src="static/img/general/logo.svg" alt="Adams street brewery logo"></a>
			</div>
			<div class="footer__col">
				<h2 class="footer__title" role="heading" aria-level="2">Location</h2>
				<p class="footer__desc">The Berghoff Restaurant <br> (main floor) on 17 W <br> Adams</p>
			</div>
			<div class="footer__col">
				<h2 class="footer__title" role="heading" aria-level="2">hours</h2>
				<p class="footer__desc">
					<b>Monday – Friday</b> 11:00 a.m. –9:00p.m.
				</p>
				<p class="footer__desc">
					<b>Saturday</b>  11:30 a.m – 9:00 p.m.
				</p>
				<p class="footer__desc">
				<b>Sunday</b>
				Closed
				</p>
			</div>
			<div class="footer__col">
				<h2 class="footer__title" role="heading" aria-level="2">visit</h2>
				<a href="#" class="footer__partner" tabindex="0">
					<img src="static/img/general/TheBerghoffLogo.png" alt="berghhoff logo">
				</a>
			</div>
		</div>
	</div>
</footer>
