<div class="history">
	<ul class="history__top">
		<li class="history__year">1870</li>
		<li class="history__year">1893</li>
		<li class="history__year">1910</li>
		<li class="history__year">1919</li>
		<li class="history__year">1932</li>
		<li class="history__year">1965</li>
		<li class="history__year">1984</li>
		<li class="history__year">1999</li>
		<li class="history__year">2004</li>
		<li class="history__year">2011</li>
		<li class="history__year">2018</li>
	</ul>
	<div class="history__nav">

		<div class="section__nav">
			<button class="section__nav_button section__nav_prev">
				<img src="static/img/general/arrow.svg" alt="prev" aria-live="assertive" tabindex="-1" class="section__nav_img">
			</button>
			<button class="section__nav_button section__nav_next">
				<img src="static/img/general/arrow.svg" alt="next" aria-live="assertive" tabindex="-1" class="section__nav_img">
			</button>
		</div>
	</div>

	<div class="history__bottom">
		<div class="history__item mod-justify">
			<div class="slide-year">1870</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Herman Berghoff arrives from Germany. He takes on agricultural work and even does a stint for a Wild West Show. </h3>
				<div class="history__content">
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-20.jpg" alt="">
			</div>
		</div>

		<div class="history__item mod-justify">
			<div class="slide-year">1893</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>

		</div>

		<div class="history__item">
			<div class="slide-year">1910</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">1919</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">1932</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">1965</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">1984</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">1999</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">2004</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">2011</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

		<div class="history__item">
			<div class="slide-year">2018</div>
			<div class="history__text">
				<h3 class="title__ns" role="heading" aria-level="3">Lorem Ipsum is simply dummy text of the printing …</h3>
				<div class="history__content">
					<p class="desc__ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries… Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
				</div>
			</div>
			<div class="history__pic">
				<img src="static/img/content/pic-11.jpg" alt="history picture">
			</div>
		</div>

	</div>
</div>
