<ul class="bands__list">
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
	<li class="bands__item">
		<a href="#" class="bands__link" tabindex="0">
			<span class="bands__title">Jazz Band</span>
			<span class="bands__info">
				<button class="events__btn" tabindex="0">
					<img src="static/img/general/arrow-right.svg" alt="go to">
				</button>
				<span class="bands__date">12th April 2018</span>
			</span>
		</a>
	</li>
</ul>
