
<div class="four-slider">
	<div class="four-slider__item">
		<div class="four-slider__content">
			<img src="static/img/content/pic-01.jpg" alt="image" class="four-slider__img">
		</div>
		<div class="four-slider__content">
			<img src="static/img/content/pic-02.jpg" alt="image" class="four-slider__img">
		</div>
	</div>
	<div class="four-slider__item">
		<div class="four-slider__content">
			<img src="static/img/content/pic-03.jpg" alt="image" class="four-slider__img">
		</div>
		<div class="four-slider__content">
			<img src="static/img/content/pic-04.jpg" alt="image" class="four-slider__img">
		</div>
	</div>
	<div class="four-slider__item">
		<div class="four-slider__content">
			<img src="static/img/content/pic-05.jpg" alt="image" class="four-slider__img">
		</div>
		<div class="four-slider__content">
			<img src="static/img/content/pic-06.jpg" alt="image" class="four-slider__img">
		</div>
	</div>
	<div class="four-slider__item">
		<div class="four-slider__content">
			<img src="static/img/content/pic-07.jpg" alt="image" class="four-slider__img">
		</div>
		<div class="four-slider__content">
			<img src="static/img/content/pic-08.jpg" alt="image" class="four-slider__img">
		</div>
	</div>


	<div class="four-slider__item">
		<div class="four-slider__content">
			<img src="static/img/content/pic-03.jpg" alt="image" class="four-slider__img">
		</div>
		<div class="four-slider__content">
			<img src="static/img/content/pic-04.jpg" alt="image" class="four-slider__img">
		</div>
	</div>

</div>