<div class="section  section-gray mod-mb0">
	<div class="page__layout ">
		<div class="section__header mod-wrap-mob" >
			<h2 class="section__title"  data-aos="slide-left" data-aos-offset="0"  data-aos-duration="400" data-aos-anchor-placement="center-bottom" role="heading" aria-level="2">follow us</h2>

			<div class="section__header_box">
				<ul class="social">
					<li class="social__item"  data-aos="fade-up" data-aos-offset="0"  data-aos-duration="450" data-aos-anchor-placement="center-bottom">
						<a href="#" class="social__link" tabindex="0">
							<img src="static/img/general/fb.svg" alt="facebook" class="social__img">
						</a>
					</li>
					<li class="social__item"  data-aos="fade-up" data-aos-offset="0"  data-aos-duration="500" data-aos-anchor-placement="center-bottom">
						<a href="#" class="social__link" tabindex="0">
							<img src="static/img/general/insta.svg" alt="instagram" class="social__img">
						</a>
					</li>
				</ul>
				<div class="section__nav">
					<button class="section__nav_button section__nav_prev">
						<img src="static/img/general/arrow.svg" alt="prev" aria-live="assertive" tabindex="-1" class="section__nav_img">
					</button>
					<button class="section__nav_button section__nav_next">
						<img src="static/img/general/arrow.svg" alt="next" aria-live="assertive" tabindex="-1" class="section__nav_img">
					</button>
				</div>
			</div>
		</div>
		<div class="four-slider">
			<div class="four-slider__item">
				<div class="four-slider__content">
					<img src="static/img/content/pic-01.jpg" alt="image from brewery" class="four-slider__img">
				</div>
				<div class="four-slider__content">
					<img src="static/img/content/pic-02.jpg" alt="image from brewery" class="four-slider__img">
				</div>
			</div>
			<div class="four-slider__item">
				<div class="four-slider__content">
					<img src="static/img/content/pic-03.jpg" alt="image from brewery" class="four-slider__img">
				</div>
				<div class="four-slider__content">
					<img src="static/img/content/pic-04.jpg" alt="image from brewery" class="four-slider__img">
				</div>
			</div>
			<div class="four-slider__item">
				<div class="four-slider__content">
					<img src="static/img/content/pic-05.jpg" alt="image from brewery" class="four-slider__img">
				</div>
				<div class="four-slider__content">
					<img src="static/img/content/pic-06.jpg" alt="image from brewery" class="four-slider__img">
				</div>
			</div>
			<div class="four-slider__item">
				<div class="four-slider__content">
					<img src="static/img/content/pic-07.jpg" alt="image from brewery" class="four-slider__img">
				</div>
				<div class="four-slider__content">
					<img src="static/img/content/pic-08.jpg" alt="image from brewery" class="four-slider__img">
				</div>
			</div>


			<div class="four-slider__item">
				<div class="four-slider__content">
					<img src="static/img/content/pic-03.jpg" alt="image from brewery" class="four-slider__img">
				</div>
				<div class="four-slider__content">
					<img src="static/img/content/pic-04.jpg" alt="image from brewery" class="four-slider__img">
				</div>
			</div>

		</div>
	</div>
</div>