<div class="events">
	<a href="#" class="events__item">
		<span class="events__pic"><img src="static/img/content/pic-03.jpg" alt="event" class="events__img"></span>
		<span class="events__container">
			<button class="events__btn"><img src="static/img/general/arrow-right.svg" alt="go to"></button>
			<span class="events__header">
				<h6 class="events__label">LIVE MUSIC</h6>
				<h4 class="events__title">Jazz Band</h4>
			</span>
			<span class="events__content">
				<p class="events__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iure rerum, vero officiis. Ad delectus fuga ipsum dolore exercitationem libero ea doloremque consequuntur ex magnam tempora expedita temporibus, hic placeat?</p>
			</span>
			<span class="events__footer">
				<time  datetime="2018-05-06T20:00" class="events__box">
					<span class="events__box_wrap">
						<img src="static/img/content/calendar.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 6th may</p>
					</span>
					<span class="events__box_wrap">
						<img src="static/img/content/clock.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 8:00PM</p>
					</span>
				</time>
			</span>
		</span>

	</a>
	<a href="#" class="events__item">
		<span class="events__pic"><img src="static/img/content/pic-03.jpg" alt="event" class="events__img"></span>
		<span class="events__container">
			<button class="events__btn"><img src="static/img/general/arrow-right.svg" alt="go to"></button>
			<span class="events__header">
				<h6 class="events__label">LIVE MUSIC</h6>
				<h4 class="events__title">Jazz Band</h4>
			</span>
			<span class="events__content">
				<p class="events__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iure rerum, vero officiis. Ad delectus fuga ipsum dolore exercitationem libero ea doloremque consequuntur ex magnam tempora expedita temporibus, hic placeat?</p>
			</span>
			<span class="events__footer">
				<time  datetime="2018-05-06T20:00" class="events__box">
					<span class="events__box_wrap">
						<img src="static/img/content/calendar.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 6th may</p>
					</span>
					<span class="events__box_wrap">
						<img src="static/img/content/clock.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 8:00PM</p>
					</span>
				</time>
			</span>
		</span>

	</a>
	<a href="#" class="events__item">
		<span class="events__pic"><img src="static/img/content/pic-03.jpg" alt="event" class="events__img"></span>
		<span class="events__container">
			<button class="events__btn"><img src="static/img/general/arrow-right.svg" alt="go to"></button>
			<span class="events__header">
				<h6 class="events__label">LIVE MUSIC</h6>
				<h4 class="events__title">Jazz Band</h4>
			</span>
			<span class="events__content">
				<p class="events__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iure rerum, vero officiis. Ad delectus fuga ipsum dolore exercitationem libero ea doloremque consequuntur ex magnam tempora expedita temporibus, hic placeat?</p>
			</span>
			<span class="events__footer">
				<time  datetime="2018-05-06T20:00" class="events__box">
					<span class="events__box_wrap">
						<img src="static/img/content/calendar.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 6th may</p>
					</span>
					<span class="events__box_wrap">
						<img src="static/img/content/clock.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 8:00PM</p>
					</span>
				</time>
			</span>
		</span>

	</a>
	<a href="#" class="events__item">
		<span class="events__pic"><img src="static/img/content/pic-03.jpg" alt="event" class="events__img"></span>
		<span class="events__container">
			<button class="events__btn"><img src="static/img/general/arrow-right.svg" alt="go to"></button>
			<span class="events__header">
				<h6 class="events__label">LIVE MUSIC</h6>
				<h4 class="events__title">Jazz Band</h4>
			</span>
			<span class="events__content">
				<p class="events__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iure rerum, vero officiis. Ad delectus fuga ipsum dolore exercitationem libero ea doloremque consequuntur ex magnam tempora expedita temporibus, hic placeat?</p>
			</span>
			<span class="events__footer">
				<time  datetime="2018-05-06T20:00" class="events__box">
					<span class="events__box_wrap">
						<img src="static/img/content/calendar.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 6th may</p>
					</span>
					<span class="events__box_wrap">
						<img src="static/img/content/clock.png" alt="date" class="events__footer_icon">
						<p class="events__footer_title"> 8:00PM</p>
					</span>
				</time>
			</span>
		</span>

	</a>

</div>
